
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: black;
    background-position: center;
}

.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
h2{
    text-align: center;
    color: white;
    font-size: 40px;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid yellow;
    
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translatey(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .6s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -1px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: '.9em';
    color: white;
    display: flex;
    justify-content: space-between;
}

.forgot-link{
    text-decoration: none;
    color: mediumblue;
}

.forgot-link:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-weight: 800;
    font-size: 20px;
    background-color: yellow;
}

button:hover{
    background-color: white;
}

.register-link{
    text-align: center;
    margin: 25px;
}

.dont-hv-account{
    color: white;
}

.regsister{
    text-decoration: none;
    color: yellowgreen;
    font-weight: 900;
}

.regsister:hover{
    text-decoration: underline;
}
